@tailwind base;
@tailwind components;
@tailwind utilities;

.underLiq::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 10;
    left: 0;
    width: 0%;
    height: 2px;
    transform-origin: left;
    background-color: black;
    transition: all 0.3s ease;
}

.underLiq:hover::after {
    transform-origin: left;
    width: 100%;
}
